<div class="container">
	<div [hidden]="bookUpdated">
		<h3 [style.margin-top]="'30px'">Update Book Information
			<span [style.font-size]="'small'">* is a required field</span>
		</h3>
		
		<form #formEditBook="ngForm" (ngSubmit)="onSubmit()">
			<mat-grid-list cols="4" rowHeight="80px">
				<mat-grid-tile [colspan]="4" [rowspan]="1">
					<mat-form-field>
						<input type="text" #title="ngModel" matInput [(ngModel)]="book.title" name="title" placeholder="Title" required="required">
					</mat-form-field>
				</mat-grid-tile>
			</mat-grid-list>

			<mat-grid-list cols="4" rowHeight="80px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field>
						<input type="text" #author="ngModel" matInput [(ngModel)]="book.author" name="author" placeholder="Author" required="required">
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field>
						<input type="text" #publisher="ngModel" matInput [(ngModel)]="book.publisher" name="publisher" placeholder="Publisher" required="required">
					</mat-form-field>
				</mat-grid-tile>
	
			</mat-grid-list>

			<mat-grid-list cols="4" rowHeight="80px">
				<mat-grid-tile [colspan]="4" [rowspan]="1">
					<mat-form-field>
						<input type="date" #publicationDate="ngModel" matInput [(ngModel)]="book.publicationDate" name="publicationDate" placeholder="Publication Date" required="required">
					</mat-form-field>
				</mat-grid-tile>
			</mat-grid-list>

			<mat-grid-list cols="4" rowHeight="80px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-select placeholder="Category" name="category" [(ngModel)]="book.category">
						<mat-option value="Management">Management</mat-option>
						<mat-option value="Fiction">Fiction</mat-option>
						<mat-option value="Engineering">Engineering</mat-option>
						<mat-option value="Programming">Programming</mat-option>
						<mat-option value="Arts &amp; Literature">Arts &amp; Literature</mat-option>
					</mat-select>
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-select placeholder="Format" name="format" [(ngModel)]="book.format">
						<mat-option value="paperback">Paperback</mat-option>
						<mat-option value="hardcover">Hardcover</mat-option>
					</mat-select>
				</mat-grid-tile>
			</mat-grid-list>

			<mat-grid-list cols="4" rowHeight="80px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field>
						<input type="number" #numberOfPages="ngModel" matInput [(ngModel)]="book.numberOfPages" min="0" name="numberOfPages" placeholder="Number of pages" required="required">
					</mat-form-field>
					
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field>
						<input type="text" #isbn="ngModel" matInput [(ngModel)]="book.isbn" name="isbn" placeholder="ISBN" required="required">
					</mat-form-field>
					
				</mat-grid-tile>
			</mat-grid-list>

			<mat-grid-list cols="4" rowHeight="80px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field>
						<input type="number" #listPrice="ngModel" step="0.01" matInput [(ngModel)]="book.listPrice" min="0" name="listPrice" placeholder="List Price" required="required">
					</mat-form-field>
					
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field>
						<input type="number" #ourPrice="ngModel" step="0.01" matInput [(ngModel)]="book.ourPrice" name="ourPrice" min="0" placeholder="Our Price" required="required">
					</mat-form-field>
					
				</mat-grid-tile>
			</mat-grid-list>

			<mat-grid-list cols="4" rowHeight="80px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field>
						<input type="number" #shippingWeight="ngModel" step="0.01" matInput [(ngModel)]="book.shippingWeight" name="shippingWeight" placeholder="Shipping Weight" min="0" required="required">
					</mat-form-field>&nbsp;ounces&nbsp;
				</mat-grid-tile>

				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-select placeholder="Language" name="language" [(ngModel)]="book.language">
						<mat-option value="english">English</mat-option>
						<mat-option value="spanish">Spanish</mat-option>
					</mat-select>
					
				</mat-grid-tile>
			</mat-grid-list>

			<mat-grid-list cols="4" rowHeight="80px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field>
						<input type="number" #inStockNumber="ngModel" matInput [(ngModel)]="book.inStockNumber" name="inStockNumber" placeholder="Numbers In Stock" min="0" required="required">
					</mat-form-field>
					
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-slide-toggle [color]="color" [checked]="checked" [disabled]="disabled" [(ngModel)]="book.active" name="active">Active</mat-slide-toggle>
				</mat-grid-tile>
			</mat-grid-list>

			<!-- <mat-grid-list cols="4" rowHeight="80px">
				<mat-grid-tile [colspan]="4" [rowspan]="1">
					<mat-form-field>
						<textarea type="text" matInput [(ngModel)]="book.description" name="description" placeholder="Description" required="required"></textarea>
					</mat-form-field>
					
				</mat-grid-tile>
				
			</mat-grid-list> -->

			<mat-grid-list cols="10" rowHeight="200px">
				<mat-grid-tile [colspan]="1" [rowspan]="1">
					<mat-label>Description:</mat-label>
				</mat-grid-tile>
				<mat-grid-tile [colspan]="9" [rowspan]="1">
					<editor #description="ngModel" [(ngModel)]="book.description" name="description" required="required" ></editor>
				</mat-grid-tile>
				
			</mat-grid-list>
			
			<mat-grid-list cols="10" rowHeight="60px">
				<mat-grid-tile [colspan]="1" [rowspan]="1">
					<mat-label>Image:</mat-label>
				</mat-grid-tile>
				<mat-grid-tile [colspan]="3" [rowspan]="1">
					<input type="file" (change)="uploadImageService.fileChangeEvent($event)">
				</mat-grid-tile>
			</mat-grid-list>

			<mat-grid-list cols="10" rowHeight="80px">
				<mat-grid-tile [colspan]="1" [rowspan]="1">
					<button type="submit" [disabled]="!formEditBook.valid" mat-raised-button color="primary">Update Book</button>
				</mat-grid-tile>
				<mat-grid-tile [colspan]="1" [rowspan]="1">
					<a [routerLink]="['/viewBook', book.bookId]" mat-raised-button color="warn" style="text-decoration: none;">Cancel</a>
				</mat-grid-tile>
			</mat-grid-list>
		</form>
	</div>

	<div [hidden]="!bookUpdated" [style.margin-top]="'30px'">
		<h3>Book updated successfully!</h3>
	</div>
</div>

