<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-8">
			<h2 class="section-headline">
				<span>Home</span>
			</h2>
		</div>
		<div class="col-sm-4 col-md-4">
			<img src="assets/image/logo.png" class="img-fluid" />
		</div>
	</div>
	<hr style="margin-top: -90px; height: 4px;" />
	<img style="margin-top: 20px;" src="assets/image/wood.png" class="img-fluid" />


	<div class="row" style="margin-top: 50px;">
		<div class="col-sm-4 col-md-4">
			<div class="card">
				<div class="card-body">
					<a [routerLink]="['/bookList']"><img src="assets/image/bestseller.png" class="img-fluid" /></a>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-4">
			<div class="card">
				<div class="card-body">
					<a [routerLink]="['/hours']"><img src="assets/image/hours.png" class="img-fluid" /></a>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-4">
			<div class="card">
				<div class="card-body">
					<a [routerLink]="['/faq']"><img src="assets/image/faq.png" class="img-fluid" /></a>
				</div>
			</div>
		</div>
	</div>

	<div class="home-headline">
		<span>Featured Books</span>
		<hr style="margin-top: -18px;" />
	</div>

	<div class="row">
		<img src="assets/image/shelf.png" class="img-fluid" />
		<div class="row" style="margin: -190px 0 0 130px;">
			<div class="col-sm-2 col-md-2">
				<img src="assets/image/book1.png"class="img-fluid" />
			</div>
			<div class="col-sm-2 col-md-2">
				<img src="assets/image/book1.png" class="img-fluid" />
			</div>
			<div class="col-sm-2 col-md-2">
				<img src="assets/image/book1.png" class="img-fluid" />
			</div>
			<div class="col-sm-2 col-md-2">
				<img src="assets/image/book1.png" class="img-fluid" />
			</div>
			<div class="col-sm-2 col-md-2">
				<img src="assets/image/book1.png" class="img-fluid" />
			</div>
			<div class="col-sm-2 col-md-2">
				<img src="assets/image/book1.png" class="img-fluid" />
			</div>
		</div>
		
	</div>
</div>
