
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head th:replace="common/header :: common-header" />

<body>

	<div th:replace="common/header :: navbar"></div>

	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-md-8">
				<h2 class="section-headline">
					<span th:text="${#strings.toUpperCase(user.username)}"></span>
				</h2>
			</div>
			<div class="col-sm-4 col-md-4">
				<img src="/image/logo.png" class="img-fluid" />
			</div>
		</div>
		<hr style="margin-top: -90px; height: 4px;" />
		<img style="margin-top: 20px;" src="/image/wood.png" class="img-fluid" />
		
			<form th:action="@{/shoppingCart/addItem/}+${book.bookId}" method="POST">
    			<div class="row" style="margin-top: 50px;">
    		
		    		<div class="col-sm-3 col-md-3">
		    			<a th:href="@{/book/bookshelf}"><i class="fa fa-long-arrow-left"></i>Back to book list</a>
		    			<img class="img-fluid" th:src="#{adminPath}+@{/image/books/}+${book.bookId}+'.png'" />
		    		</div>
    		
		    		<div class="col-sm-9 col-md-9">
		    			<h3><span th:if="${addBookSuccess}" style="color: forestgreen"><i class="fa fa-check"></i>Added to cart.</span></h3>
		    			<h3><span th:if="${notEnoughStock}" style="color: red">Oops, only <span th:text="${book.inStockNumber}"></span> In Stock.</span></h3>
		    			
		    			<h3 th:text="${book.title}"></h3>
		    			<div class="row">
		    				<div class="col-sm-5 col-md-5">
		    					<p><strong>Author: </strong><span th:text="${book.author}"></span></p>
		    					<p><strong>Publisher: </strong><span th:text="${book.publisher}"></span></p>
		    					<p><strong>Publication Date: </strong><span th:text="${book.publicationDate}"></span></p>
		    					<p><strong>Language: </strong><span th:text="${book.language}"></span></p>
		    					<p><strong>Category: </strong><span th:text="${book.category.name}"></span></p>
		    					<p><strong>Pages: </strong><span th:text="${book.numberOfPages}"></span> pages</p>
		    					<p><strong>Format: </strong><span th:text="${book.format}"></span></p>
		    					<p><strong>ISBN: </strong><span th:text="${book.isbn}"></span></p>
		    					<p><strong>Shipping Weight: </strong><span th:text="${book.shippingWeight}"></span> ounces</p>
		    				</div>
		    				
		    				<div class="col-sm-7 col-md-7">
		    					<div class="card" style="border-width: 5px; margin-top: 20px;">
		    						<div class="card-body">
		    							<div class="row">
		    								<div class="col-sm-6 col-md-6">
		    									<h4>Our Price: <span style="color:#db3208;">$<span th:text="${book.ourPrice}"></span></span></h4>
		    									<p>List Price: <span style="text-decoration: line-through">$<span th:text="${book.listPrice}"></span></span></p>
		    									<p>You save: $<span th:text="${#numbers.formatDecimal((book.listPrice - book.ourPrice), 1, 'COMMA', 2, 'POINT' )}"></span></p>
		    									<span>Quantity: </span>
		    									<select th:name="qty">
		    										<option th:each="qty : ${qtyList}" th:value="${qty}" th:text="${qty}"></option>
		    									</select>
		    								</div>
		    								
		    								<div class="col-sm-6 col-md-6">
		    									<h4 th:if="*{book.inStockNumber&gt;10}" style="color: green">In Stock</h4>
		    									<h4 th:if="*{book.inStockNumber&lt;10 and book.inStockNumber&gt;0}" style="color: green">Only <span th:text="${book.inStockNumber}"></span> In Stock</h4>
		    									<h4 th:if="*{book.inStockNumber==0}" style="color:darkred;">Unavailable</h4>
		    									
		    									<button type="submit" class="btn btn-warning" style="color:black;border:1px solid black;">
	                        						<i class="fa fa-shopping-cart"></i>Add to cart
	                    						</button>
	                    						
		    								</div>
		    							</div>
		    						</div>
		    					</div>
		    				</div>
		    			</div>
		    			
		    			<hr/>
		    			<p th:utext="${book.description}"></p>
		    		</div>
    			</div>
   			</form>
	</div>
	
	<div th:replace="common/header :: footer"></div>
	
	<div th:replace="common/header :: body-bottom-scripts"></div>
	
</body>
</html>

