<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-8">
			<h2 class="section-headline">
				<span>Hours</span>
			</h2>
		</div>
		<div class="col-sm-4 col-md-4">
			<img src="assets/image/logo.png" class="img-fluid" />
		</div>
	</div>

	<hr style="margin-top: -90px; height: 4px;" />
	<img style="margin-top: 20px;" src="assets/image/wood.png" class="img-fluid" />
	
	<div style="margin-top: 20px; ">
		<div class="col-md-9 offset-md-3">
			<img class="img-fluid" src="assets/image/hours.png" />
		</div>
	</div>
</div>
